@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base: #18708b;
  --base-dark: #104658;
  --base-darker: #0d3d4c;
  --base-light: #155e75;
  --accent: #6ee7b7;
  --simple-white: #d6fdff;
  --dark-white: #b9d4dc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--base);
  color: var(--simple-white);
}

li {
  list-style-type: none;
}
